@import "tailwindcss";
nav{
  background-color: blue;
  height: 200px;
}
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-7MbEDBGUV0eqfdngw6YpX92x6zRtpW2gkA&s');
  background-repeat: no-repeat;
  background-size:cover;
  color: blue;
}
p:hover {
  color: red;
  }
h1:hover {
  color: red;
  }
h2:hover {
  color: red;
  }
button:hover{
  color: blue;
}
a{
  color: white;
}