@import "tailwindcss";

body {
  background-image: url('https://i.ytimg.com/vi/dPRfoF_t69c/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLApwpajC8UBhokjXFvHAn6z7Y6wKw');
  background-repeat: no-repeat;
  background-size:cover;
}
p:hover {
  color: red;
  }
h1:hover {
  color: red;
  }
h2:hover {
  color: red;
  }
button:hover{
  color: blue;
}